@charset "UTF-8";

/* Stylesheet for finalExam.html

Course: CSC230 - Website Design

Author: Jonathon Beck
Date: 2025|12|17

Filename: finalExam.css
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(22, 97%, 45%);
    color: black;
    font-size: 16pt;
    width: 85%;
    margin: auto;
}

header h1 {
    font-size: 36pt;
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
    background-color: palegreen;
}                           

header h3 {
    font-size: 24pt;
    margin: 0px;
    padding: 0px 0px 15px 15px;
    background-color: palegreen;
}

h1 {
    font: Arial, 22pt;
    box-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    background-color: rgb(4, 47, 202);
}

h3 {
    font: Arial, 16pt;
    box-align: left;
    background-color: rgb(205, 175, 5);
}

p {
    margin: 15px;
    padding: 15px;
}

a {
    color: hsl(9, 100%, 25%);
    text-decoration: none;
}

a:hover {
    color: hsl(307, 100%, 15%);
}

table {
    border: none;
    padding: 2px 5px;
    width: 90%;
    margin-left: 30px;
}

thead th {
    background-color: rgb(250, 183, 100);
    font-weight: bold;
    text-align: center;
}

tbody td {
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

header {
    width: 100%;
    margin: 0px;
    height: 300px;
    position: relative;
    padding-right: 320px;
    box-sizing: border-box;
    background-color: palegreen;
    overflow: auto;
}

header img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    display: block;
}

nav {
    float: left;
    background-color: palegreen;
    color: black;
    text-align: center;
    vertical-align: top;
    width: 25%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    float: left;
    background-color: bisque;
    width: 75%;
    padding: 15px;
    box-sizing: border-box;
}

footer {
    clear: both;
    text-align: center;
    background-color: rgb(71, 255, 71);
    color: rgb(55, 55, 55);
}