@charset "UTF-8";

@font-face {
    font-family: 'Champagne';
    src: url('cac_champagne.woff') format('woff');
    src: url('cac_champagne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grunge';
    src: url('1942.woff') format('woff');
    src: url('1942.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('woff');
    src: url('DobkinPlain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Jonathon Beck
   Date: 2025|11|01   
   
   Filename: ph_styles.css

*/


/* Structural Styles */

html {
    background-color: hsl(91, 8%, 56%);
}

/* Navigation Styles */



/* Section Styles */



/* Description List Styles */

