@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Jonathon Beck
   Date: 2025|11|15  
   
   Filename: ss_layout.css

*/


/* Article Styles */

article {
    float: left;
    width: 384px;
}

/* First Line and Drop Cap Styles */

article p:first-of-type::first-line {
    font-size: 1.25em;
    font-variant: small-caps;
} 

article p:first-of-type::first-letter {
    font-size: 4em;
    font-family: serif;
    float: left;
    line-height: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Aside Styles */

aside {
    width: 768px;
    float: left;
}

/* Map Styles */

#battleMap {
    width: 688px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Interactive Map Styles */




/* Map Information Styles */



