@charset "UTF-8";

/* Stylesheet for index.html

Author: Jonathon Beck
Date: 2025|11|01
Course: CSC230 - Website Design
*/

html {
    background-color: hsl(46, 16%, 37%);
}

body {
    color: hsl(80, 51%, 20%);
    text-align: center;
}