@charset "UTF-8";

/* Stylesheet for index.html

Author: Jonathon Beck
Date: 2025|11|01
Course: CSC230 - Website Design
*/

html {
    background-color: hsl(46, 16%, 37%);
}

body {
    color: hsl(79, 51%, 18%);
    text-align: center;
}

article {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(45, 28%, 25%);
    padding: 20px;
    border: 5px solid hsl(46, 16%, 25%);
    box-shadow: 10px 10px 5px hsl(46, 16%, 20%);
}