@charset "UTF-8";

/* Stylesheet for index.html

Author: Jonathon Beck
Date: 2025|11|01
Course: CSC230 - Website Design
*/

html {
    background-color: #935618;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23814706' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

header {
    background-color: hsl(17, 88%, 33%);
    border-bottom: 5px solid hsl(33, 55%, 16%);
    box-shadow: 10px 10px 5px rgb(21, 21, 21);
}

body {
    color: hsl(0, 0%, 0%);
}

section#bio {
    position: absolute;
    float: left;
    background-color: hsl(35, 72%, 44%);
    border: 5px solid hsl(46, 22%, 19%);
    border-radius: 15px;
    width: 250px;
    margin-top: 75px;
    margin-left: 100px;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(21, 21, 21);
}

section#bio img {
    display: block;
    width: 60%;
    margin: 20%;
    border: 3px solid hsl(45, 15%, 25%);
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(21, 21, 21);
}
section#bio a:hover {
    color: hsl(332, 94%, 18%);
}

section#assignments {
    position: relative;
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: hsl(35, 84%, 33%);
    color: black;
    padding: 20px;
    border: 5px solid hsl(46, 16%, 25%);
    box-shadow: 10px 10px 5px rgb(21, 21, 21);
}

section#assignments h2 {
    text-align: center;
    font-weight: bold;
}

section#assignments h3 {
    text-align: center;
    font-weight: bold;
}

section#assignments a:hover {
    color: hsl(332, 94%, 18%);
}

div#list > ol {
    text-align: left;
}

div#list > ol > ul {
    font-weight: normal;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(17, 88%, 33%);
    color: hsl(0, 0%, 15%);
    text-align: center;
    font-size: small;
    padding: 10px;
    border-top: 2px solid hsl(45, 15%, 25%);
}