@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: Jonathon Beck
   Date: 2025|12|07  

   Filename:         mi_tables.css

*/

/* Table Styles */

table {
    background: linear-gradient(to bottom, rgb(190, 215, 255), black);
    border: solid 5px gray;
}

/* Column Styles */



/* Table Header Styles */











