@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Tutorial Case
   
   Visual Style Sheet for Tree and Book Family Home Page
   Author: Jonathon Beck
   Date: 2025|11|19  
   
   Filename: tb_visual1.css

*/


/* Figure Box Styles */

figure {
    margin: 20px auto 0px;
    width: 80%;
}

/* HTML Styles */




/* Article Styles */




/* Page Body Styles */




/* Aside Styles */



/* Footer Styles */


